<% if comment.created_at %>
  <div class='well span8'>
    <em>"<%= comment.body %>"</em>
    <br>
    <span class='quiet'>by</span> <%= comment.creator.username %>
    <small>at <%= format_time comment.created_at %></small>
  </div>
<% end %>
